<!-- The Side Bar -->

<style>
  @media (min-width: 1024px) and (min-height: 800px) {
    #sidebar {
      left: 18.2291667%; /* 1/3 of the screen width */
      width: 18.2291667%; /* Open by default */
      transition: width 0.5s;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1000;
    }
    #hover-area {
      position: fixed;
      top: 0;
      width: 33.33%; /* 1/3 of the screen width */
      height: 100%;
      z-index: 999;
    }
    .nav-link span {
      display: inline; /* Ensure text is displayed */
    }
    .dark-mode .site-title,
    .dark-mode .site-subtitle {
      color: white;
    }
    .light-mode .site-title,
    .light-mode .site-subtitle {
      color: black;
    }
  }
</style>

<div id="hover-area"></div>
<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end" style="z-index: 1001;">
  <header class="profile-wrapper text-center">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle d-block mx-auto">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" class="mx-auto d-block" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <a class="site-title d-block text-center" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="site-subtitle fst-italic mb-0 text-center">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- the real tabs -->
      {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            <i class="fa-fw {{ tab.icon }}"></i>
            {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

            <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
          </a>
        </li>
        <!-- .nav-item -->
      {% endfor %}
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {%- capture url -%}
            mailto:{{ site.social.email }}
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->

<script>
  function applyThemeColors() {
    const themeMapper = Theme.getThemeMapper('default', 'dark');
    const newTheme = themeMapper[Theme.visualState];

    console.log("Theme mode: " + newTheme);
    const siteTitle = document.querySelector('.site-title');
    const siteSubtitle = document.querySelector('.site-subtitle');

    if (newTheme === "dark") {
      siteTitle.style.color = 'white';
      siteSubtitle.style.color = 'white';
      console.log("Dark mode enabled");
    } else {
      siteTitle.style.color = 'black';
      siteSubtitle.style.color = 'black';
      console.log("Light mode enabled");
    }
  }

  function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    const sidebarWidth = window.innerWidth * 0.18; // 18% of screen width
    if (sidebar.style.width >= `${sidebarWidth}px`) {
      sidebar.style.width = '0px';
    } else {
      sidebar.style.width = `${sidebarWidth}px`;
    }
  }

  function handleScroll() {
    const sidebar = document.getElementById('sidebar');
    const sidebarWidth = window.innerWidth * 0.18; // 18% of screen width
    if (window.scrollY === 0 || window.scrollY < lastScrollY) {
      sidebar.style.width = `${sidebarWidth}px`;
    } else {
      sidebar.style.width = '0px';
    }
    lastScrollY = window.scrollY;
  }

  let lastScrollY = window.scrollY;

  document.addEventListener("DOMContentLoaded", function() {
    applyThemeColors();

    const modeToggle = document.getElementById('mode-toggle');
    if (modeToggle) {
      modeToggle.addEventListener('click', function() {
        applyThemeColors();
      });
    }

    if (window.innerWidth >= 1024 && window.innerHeight >= 800) {
      const hoverArea = document.getElementById('hover-area');
      if (hoverArea) {
        hoverArea.addEventListener('touchstart', toggleSidebar);
        hoverArea.addEventListener('click', toggleSidebar);
      }

      window.addEventListener('scroll', handleScroll);
    }
  });
</script>
